<!DOCTYPE html>
<html>
<head>
    <title>Applications for {{ job_name }}</title>
</head>
<body>
    <h1>Applications for {{ job_name }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Email</th>
                <th>Date Posted</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>
                        <form method="GET" action="/view_applicant/{{ row[4] }}/{{ row[5] }}">
                            <input type="submit" value="View Applicant">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Go back to home page</a>
</body>
</html>
