<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>Job</td>
            <td>Description</td>
            <td>Date Posted</td>
            <td>Applications Close</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["job"]}}</td>
               <td>{{row["description"]}}</td>
               <td>{{row["postdate"]}}</td>
               <td>{{row["enddate"]}}</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      <a href = "/preaddjob/">Add Job</a>
   </body>
</html>