<!doctype html>
<html>
   <body>
      <table border="1">
         <thead>
            <tr>
               <td>Job</td>
               <td>Description</td>
               <td>Date Posted</td>
               <td>Applications Close</td>
               <td>Actions</td>
            </tr>
         </thead>
         <tbody>
            {% for row in rows %}
            <tr>
               <td>{{ row[1] }}</td>
               <td>{{ row[2] }}</td>
               <td>{{ row[3] }}</td>
               <td>{{ row[4] }}</td>
               <td>
                  {% if 'role' in session and session['role'] != 'MANAGER' %}
                      <form method="GET" action="/apply/{{ row[1] }}/form">
                          <input type="submit" value="Apply Now">
                      </form>
                  {% endif %}
                  
                  {% if 'role' in session and session['role'] == 'MANAGER' %}
                      <form method="GET" action="/view_applications/{{ row[1] }}">
                          <input type="submit" value="View Applications">
                      </form>
                  {% endif %}
              </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      <a href="/">Go back to home page</a>
      {% if 'role' in session and session['role'] == 'MANAGER' %}
         <a href="/preaddjob/">Add Job</a>
      {% endif %} 

      {% if 'role' in session and session['role'] != 'MANAGER' %}
         <a href="/view_user_app/">View your application</a>
      {% endif %}
   </body>
</html>
